<%- include('partials/header') -%> 
<h1>Compose</h1>
<form action="/compose"><input type="text" name="" id="">
<button name="submit" type="button">Submit</button></form>

<%- include('partials/footer') -%> 